[submodule "libs/libosmium"]
	path = libs/libosmium
	url = https://github.com/osmcode/libosmium
[submodule "libs/protozero"]
	path = libs/protozero
	url = https://github.com/mapbox/protozero
[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
